{
  "openapi": "3.0.3",
  "info": {
    "title": "NeuronSearchLab Core API",
    "version": "1.0.0",
    "description": "Versioned data-plane API for OAuth token exchange, catalog item ingestion, user event ingestion, and recommendation serving.",
    "license": {
      "name": "Proprietary",
      "url": "https://neuronsearchlab.com"
    }
  },
  "servers": [
    {
      "url": "https://api.neuronsearchlab.com",
      "description": "Core API Gateway custom domain"
    }
  ],
  "security": [
    {
      "oauth2": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "OAuth 2.0 client credentials token exchange."
    },
    {
      "name": "Items",
      "description": "Catalog item ingestion, lookup, update, deletion, and pagination."
    },
    {
      "name": "Events",
      "description": "User interaction event ingestion, lookup, and pagination."
    },
    {
      "name": "Recommendations",
      "description": "Personalized recommendation serving, request-scoped filtering, and auto-section generation."
    },
    {
      "name": "CORS",
      "description": "Browser preflight routes generated by API Gateway."
    }
  ],
  "paths": {
    "/oauth2/token": {
      "post": {
        "operationId": "createAccessToken",
        "summary": "Create access token",
        "description": "Exchange SDK client credentials for a short-lived Bearer access token. Use HTTP Basic authentication with `client_id:client_secret`.",
        "tags": [
          "Authentication"
        ],
        "servers": [
          {
            "url": "https://auth.neuronsearchlab.com",
            "description": "Cognito token domain"
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              },
              "examples": {
                "clientCredentials": {
                  "summary": "Client credentials grant",
                  "value": {
                    "grant_type": "client_credentials",
                    "scope": "neuronsearchlab-api/read neuronsearchlab-api/write"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessToken"
                },
                "examples": {
                  "token": {
                    "$ref": "#/components/examples/AccessToken"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/OAuthError400"
          },
          "401": {
            "$ref": "#/components/responses/OAuthError401"
          },
          "429": {
            "$ref": "#/components/responses/OAuthError429"
          }
        }
      }
    },
    "/v1/items": {
      "get": {
        "operationId": "listItems",
        "summary": "List items",
        "description": "List catalog items for the authenticated tenant using cursor-style pagination. Items are ordered by `entity_id` ascending.",
        "tags": [
          "Items"
        ],
        "security": [
          {
            "oauth2": [
              "neuronsearchlab-api/read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/ItemStartingAfter"
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filter by `metadata.category`.",
            "schema": {
              "type": "string"
            },
            "example": "electronics"
          },
          {
            "name": "created_after",
            "in": "query",
            "description": "Return items created at or after this Unix timestamp in seconds.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            },
            "example": 1777478400
          },
          {
            "name": "created_before",
            "in": "query",
            "description": "Return items created at or before this Unix timestamp in seconds.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            },
            "example": 1777564800
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated item list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemList"
                },
                "examples": {
                  "items": {
                    "$ref": "#/components/examples/ItemList"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      },
      "post": {
        "operationId": "createItems",
        "summary": "Create items",
        "description": "Create one or more catalog items. When `id` is omitted, the API generates an `itm_` prefixed ID. Single-item requests return an item; array requests return a list envelope.",
        "tags": [
          "Items"
        ],
        "security": [
          {
            "oauth2": [
              "neuronsearchlab-api/write"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ItemCreatePayload"
              },
              "examples": {
                "single": {
                  "$ref": "#/components/examples/ItemCreate"
                },
                "bulk": {
                  "$ref": "#/components/examples/ItemCreateBulk"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created item or created item list",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Item"
                    },
                    {
                      "$ref": "#/components/schemas/ItemList"
                    }
                  ]
                },
                "examples": {
                  "item": {
                    "$ref": "#/components/examples/Item"
                  },
                  "itemList": {
                    "$ref": "#/components/examples/ItemList"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      },
      "options": {
        "operationId": "corsItems",
        "summary": "CORS preflight",
        "description": "Preflight response generated by API Gateway.",
        "tags": [
          "CORS"
        ],
        "security": [],
        "responses": {
          "204": {
            "$ref": "#/components/responses/Cors204"
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          }
        }
      }
    },
    "/v1/items/{item_id}": {
      "get": {
        "operationId": "retrieveItem",
        "summary": "Retrieve item",
        "description": "Retrieve one catalog item by its public `itm_` ID.",
        "tags": [
          "Items"
        ],
        "security": [
          {
            "oauth2": [
              "neuronsearchlab-api/read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ItemId"
          }
        ],
        "responses": {
          "200": {
            "description": "Item",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Item"
                },
                "examples": {
                  "item": {
                    "$ref": "#/components/examples/Item"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      },
      "post": {
        "operationId": "updateItem",
        "summary": "Update item",
        "description": "Partially update an existing catalog item. `PATCH /v1/items/{item_id}` is also available as a compatibility alias.",
        "tags": [
          "Items"
        ],
        "security": [
          {
            "oauth2": [
              "neuronsearchlab-api/write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ItemId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ItemUpdate"
              },
              "examples": {
                "update": {
                  "$ref": "#/components/examples/ItemUpdate"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated item",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Item"
                },
                "examples": {
                  "item": {
                    "$ref": "#/components/examples/Item"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      },
      "patch": {
        "operationId": "patchItem",
        "summary": "Patch item",
        "description": "Compatibility alias for partially updating an existing catalog item. It accepts the same body and returns the same response as `POST /v1/items/{item_id}`.",
        "tags": [
          "Items"
        ],
        "security": [
          {
            "oauth2": [
              "neuronsearchlab-api/write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ItemId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ItemUpdate"
              },
              "examples": {
                "update": {
                  "$ref": "#/components/examples/ItemUpdate"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated item",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Item"
                },
                "examples": {
                  "item": {
                    "$ref": "#/components/examples/Item"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      },
      "delete": {
        "operationId": "deleteItem",
        "summary": "Delete item",
        "description": "Delete a catalog item by its public `itm_` ID. The operation is idempotent at the response level and returns `deletedCount: 0` when no item matched.",
        "tags": [
          "Items"
        ],
        "security": [
          {
            "oauth2": [
              "neuronsearchlab-api/write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ItemId"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteItemResult"
                },
                "examples": {
                  "deleted": {
                    "$ref": "#/components/examples/DeleteItemResult"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      },
      "options": {
        "operationId": "corsItemById",
        "summary": "CORS preflight",
        "description": "Preflight response generated by API Gateway.",
        "tags": [
          "CORS"
        ],
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/ItemId"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/Cors204"
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          }
        }
      }
    },
    "/v1/events": {
      "get": {
        "operationId": "listEvents",
        "summary": "List events",
        "description": "List ingested user events for the authenticated tenant using cursor-style pagination. Events are ordered by internal event ID ascending.",
        "tags": [
          "Events"
        ],
        "security": [
          {
            "oauth2": [
              "neuronsearchlab-api/read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/EventStartingAfter"
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Filter to events recorded for one end-user ID.",
            "schema": {
              "type": "string"
            },
            "example": "usr_abc123"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter to one event type, such as `click` or `purchase`.",
            "schema": {
              "type": "string"
            },
            "example": "purchase"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated event list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventList"
                },
                "examples": {
                  "events": {
                    "$ref": "#/components/examples/EventList"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      },
      "post": {
        "operationId": "submitEvents",
        "summary": "Submit events",
        "description": "Submit one or more user interaction events. The API accepts snake_case and camelCase aliases for common fields. The event type is tenant-configured and can be provided as `type`, `event_type`, `eventType`, `event_id`, or `eventId`.",
        "tags": [
          "Events"
        ],
        "security": [
          {
            "oauth2": [
              "neuronsearchlab-api/write"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventCreatePayload"
              },
              "examples": {
                "single": {
                  "$ref": "#/components/examples/EventCreate"
                },
                "bulk": {
                  "$ref": "#/components/examples/EventCreateBulk"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Inserted events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventIngestResult"
                },
                "examples": {
                  "ingested": {
                    "$ref": "#/components/examples/EventIngestResult"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      },
      "options": {
        "operationId": "corsEvents",
        "summary": "CORS preflight",
        "description": "Preflight response generated by API Gateway.",
        "tags": [
          "CORS"
        ],
        "security": [],
        "responses": {
          "204": {
            "$ref": "#/components/responses/Cors204"
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          }
        }
      }
    },
    "/v1/events/{event_id}": {
      "get": {
        "operationId": "retrieveEvent",
        "summary": "Retrieve event",
        "description": "Retrieve one ingested event by its public `evt_` ID.",
        "tags": [
          "Events"
        ],
        "security": [
          {
            "oauth2": [
              "neuronsearchlab-api/read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/EventId"
          }
        ],
        "responses": {
          "200": {
            "description": "Event",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                },
                "examples": {
                  "event": {
                    "$ref": "#/components/examples/Event"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      },
      "options": {
        "operationId": "corsEventById",
        "summary": "CORS preflight",
        "description": "Preflight response generated by API Gateway.",
        "tags": [
          "CORS"
        ],
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/EventId"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/Cors204"
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          }
        }
      }
    },
    "/v1/recommendations": {
      "get": {
        "operationId": "getRecommendations",
        "summary": "Get recommendations",
        "description": "Retrieve personalized recommendations. Requests can be narrowed with context IDs, request-scoped metadata filters, cursor pagination, and auto-section parameters.",
        "tags": [
          "Recommendations"
        ],
        "security": [
          {
            "oauth2": [
              "neuronsearchlab-api/read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "Optional stable request ID for retries and downstream event attribution. The same ID is returned in the response body and `X-Request-Id` response header.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Session-Id",
            "in": "header",
            "description": "Optional session identifier stored with served-recommendation telemetry.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Anonymous-Id",
            "in": "header",
            "description": "Optional anonymous identifier stored with served-recommendation telemetry when `user_id` is absent.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-SDK",
            "in": "header",
            "description": "Optional SDK name stored with served-recommendation telemetry.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-SDK-Version",
            "in": "header",
            "description": "Optional SDK version stored with served-recommendation telemetry.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Platform",
            "in": "header",
            "description": "Optional client platform stored with served-recommendation telemetry.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "End-user identifier to personalize for. When omitted, the API falls back to the token subject.",
            "schema": {
              "type": "string"
            },
            "example": "usr_abc123"
          },
          {
            "name": "context_id",
            "in": "query",
            "description": "Numeric console context ID. Legacy ctx_ aliases such as ctx_101 are also accepted.",
            "schema": {
              "type": "string"
            },
            "example": "101"
          },
          {
            "$ref": "#/components/parameters/RecommendationLimit"
          },
          {
            "name": "quantity",
            "in": "query",
            "description": "Legacy alias for `limit`.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "deprecated": true
          },
          {
            "name": "starting_after",
            "in": "query",
            "description": "Cursor from the previous page. Accepts a recommendation ID, item ID, or raw item entity ID.",
            "schema": {
              "type": "string"
            },
            "example": "rec_itm_7f3a2c9e"
          },
          {
            "name": "entity_type",
            "in": "query",
            "description": "Entity type for personalization. Defaults to `User`.",
            "schema": {
              "type": "string",
              "enum": [
                "User",
                "Item"
              ],
              "default": "User"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Optional display name override for the request entity.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "description",
            "in": "query",
            "description": "Optional description override for the request entity.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "description": "Recommendation serving mode. `auto` chooses the next section from recent user activity and returns an auto cursor.",
            "schema": {
              "type": "string",
              "enum": [
                "single",
                "auto"
              ],
              "default": "single"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Auto-mode cursor returned by a previous response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "window_days",
            "in": "query",
            "description": "Auto-mode activity lookback window in days. Defaults to 14.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 14
            }
          },
          {
            "name": "candidate_limit",
            "in": "query",
            "description": "Auto-mode maximum number of recent activity anchors to evaluate. Defaults to 50.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 50
            }
          },
          {
            "name": "served_cap",
            "in": "query",
            "description": "Auto-mode maximum number of served section keys retained in the cursor. Defaults to 50.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 50
            }
          },
          {
            "name": "scope",
            "in": "query",
            "description": "JSON-encoded request scope. Today only `filters` is honored, using objects with `column`, `operator`, `value`, and optional `logic`.",
            "schema": {
              "type": "string"
            },
            "example": "{\"filters\":[{\"column\":\"category\",\"operator\":\"=\",\"value\":\"electronics\"}]}"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Metadata filter shorthand. Repeat the parameter to combine multiple filters. Examples: `category:electronics`, `type!=comment`, `OR:brand:Acme`.",
            "schema": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              ]
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "filters",
            "in": "query",
            "description": "Alias for repeated `filter` query parameters.",
            "schema": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              ]
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "request_id",
            "in": "query",
            "description": "Optional stable request ID. Prefer the `X-Request-Id` header when possible.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "requestId",
            "in": "query",
            "description": "CamelCase alias for `request_id`.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "session_id",
            "in": "query",
            "description": "Optional session identifier. Prefer the `X-Session-Id` header when possible.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sessionId",
            "in": "query",
            "description": "CamelCase alias for `session_id`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "anonymous_id",
            "in": "query",
            "description": "Optional anonymous identifier. Prefer the `X-Anonymous-Id` header when possible.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "anonymousId",
            "in": "query",
            "description": "CamelCase alias for `anonymous_id`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recommendation list",
            "headers": {
              "X-Request-Id": {
                "description": "Stable request ID for attribution and retry correlation.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecommendationList"
                },
                "examples": {
                  "single": {
                    "$ref": "#/components/examples/RecommendationList"
                  },
                  "auto": {
                    "$ref": "#/components/examples/AutoRecommendationList"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      },
      "options": {
        "operationId": "corsRecommendations",
        "summary": "CORS preflight",
        "description": "Preflight response generated by API Gateway.",
        "tags": [
          "CORS"
        ],
        "security": [],
        "responses": {
          "204": {
            "$ref": "#/components/responses/Cors204"
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic authentication using `client_id:client_secret` for token exchange."
      },
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://auth.neuronsearchlab.com/oauth2/token",
            "scopes": {
              "neuronsearchlab-api/read": "Read recommendations, items, and events.",
              "neuronsearchlab-api/write": "Create, update, and delete items; submit events."
            }
          }
        }
      }
    },
    "parameters": {
      "Limit": {
        "name": "limit",
        "in": "query",
        "description": "Maximum number of resources to return. Defaults to 20 and is capped at 100.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 20
        },
        "example": 20
      },
      "RecommendationLimit": {
        "name": "limit",
        "in": "query",
        "description": "Maximum number of recommendations to return. Defaults to 20 and is capped at 100.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 20
        },
        "example": 10
      },
      "ItemStartingAfter": {
        "name": "starting_after",
        "in": "query",
        "description": "Cursor from a previous item list response.",
        "schema": {
          "type": "string",
          "pattern": "^itm_[A-Za-z0-9][A-Za-z0-9_-]{2,}$"
        },
        "example": "itm_7f3a2c9e"
      },
      "EventStartingAfter": {
        "name": "starting_after",
        "in": "query",
        "description": "Cursor from a previous event list response.",
        "schema": {
          "type": "string",
          "pattern": "^evt_[1-9][0-9]*$"
        },
        "example": "evt_12345"
      },
      "ItemId": {
        "name": "item_id",
        "in": "path",
        "required": true,
        "description": "Public item ID.",
        "schema": {
          "type": "string",
          "pattern": "^itm_[A-Za-z0-9][A-Za-z0-9_-]{2,}$"
        },
        "example": "itm_7f3a2c9e"
      },
      "EventId": {
        "name": "event_id",
        "in": "path",
        "required": true,
        "description": "Public event ID.",
        "schema": {
          "type": "string",
          "pattern": "^evt_[1-9][0-9]*$"
        },
        "example": "evt_12345"
      }
    },
    "responses": {
      "Cors204": {
        "description": "CORS preflight response",
        "headers": {
          "Access-Control-Allow-Origin": {
            "description": "Allowed origin.",
            "schema": {
              "type": "string",
              "example": "*"
            }
          },
          "Access-Control-Allow-Methods": {
            "description": "Allowed methods.",
            "schema": {
              "type": "string",
              "example": "GET,POST,PATCH,DELETE,OPTIONS"
            }
          },
          "Access-Control-Allow-Headers": {
            "description": "Allowed headers.",
            "schema": {
              "type": "string",
              "example": "Content-Type,Authorization"
            }
          },
          "Vary": {
            "description": "CORS cache variance.",
            "schema": {
              "type": "string",
              "example": "Origin"
            }
          }
        }
      },
      "Error400": {
        "description": "Invalid request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "validation": {
                "$ref": "#/components/examples/ErrorValidation"
              }
            }
          }
        }
      },
      "Error401": {
        "description": "Unauthenticated",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "unauthorized": {
                "$ref": "#/components/examples/ErrorUnauthorized"
              }
            }
          }
        }
      },
      "Error403": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Error404": {
        "description": "Not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "notFound": {
                "$ref": "#/components/examples/ErrorNotFound"
              }
            }
          }
        }
      },
      "Error409": {
        "description": "Conflict",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "conflict": {
                "$ref": "#/components/examples/ErrorConflict"
              }
            }
          }
        }
      },
      "Error500": {
        "description": "Server error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "OAuthError400": {
        "description": "Unsupported grant type or malformed token request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/OAuthErrorResponse"
            }
          }
        }
      },
      "OAuthError401": {
        "description": "Invalid client credentials",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/OAuthErrorResponse"
            }
          }
        }
      },
      "OAuthError429": {
        "description": "Token endpoint rate limit exceeded",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/OAuthErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "TokenRequest": {
        "type": "object",
        "required": [
          "grant_type"
        ],
        "properties": {
          "grant_type": {
            "type": "string",
            "enum": [
              "client_credentials"
            ]
          },
          "scope": {
            "type": "string",
            "description": "Space-delimited OAuth scopes. Omit to use the scopes configured for the client.",
            "example": "neuronsearchlab-api/read neuronsearchlab-api/write"
          }
        }
      },
      "AccessToken": {
        "type": "object",
        "required": [
          "access_token",
          "expires_in",
          "token_type"
        ],
        "properties": {
          "access_token": {
            "type": "string",
            "description": "Bearer token to send in the `Authorization` header."
          },
          "expires_in": {
            "type": "integer",
            "description": "Token lifetime in seconds.",
            "example": 3600
          },
          "token_type": {
            "type": "string",
            "enum": [
              "Bearer"
            ]
          },
          "scope": {
            "type": "string",
            "example": "neuronsearchlab-api/read neuronsearchlab-api/write"
          }
        }
      },
      "ItemCreatePayload": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ItemCreate"
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ItemCreate"
            },
            "minItems": 1
          }
        ]
      },
      "ItemCreate": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Optional public item ID. If omitted, the API generates one.",
            "pattern": "^itm_[A-Za-z0-9][A-Za-z0-9_-]{2,}$",
            "example": "itm_7f3a2c9e"
          },
          "item_id": {
            "type": "string",
            "description": "Snake-case alias for `id`.",
            "pattern": "^itm_[A-Za-z0-9][A-Za-z0-9_-]{2,}$"
          },
          "itemId": {
            "type": "string",
            "description": "CamelCase alias for `id`.",
            "pattern": "^itm_[A-Za-z0-9][A-Za-z0-9_-]{2,}$"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "example": "Wireless Headphones"
          },
          "description": {
            "type": "string",
            "example": "Noise-cancelling Bluetooth headphones."
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "additionalProperties": false
      },
      "ItemUpdate": {
        "type": "object",
        "description": "Partial item update. At least one field must be supplied.",
        "minProperties": 1,
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "description": {
            "type": "string"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          },
          "active": {
            "type": "boolean",
            "description": "Whether the item is eligible for recommendations."
          }
        },
        "additionalProperties": false
      },
      "Item": {
        "type": "object",
        "required": [
          "id",
          "object",
          "name",
          "description",
          "metadata",
          "active",
          "created",
          "updated_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^itm_[A-Za-z0-9][A-Za-z0-9_-]{2,}$",
            "example": "itm_7f3a2c9e"
          },
          "object": {
            "type": "string",
            "enum": [
              "item"
            ]
          },
          "name": {
            "type": "string",
            "example": "Wireless Headphones"
          },
          "description": {
            "type": "string",
            "example": "Noise-cancelling Bluetooth headphones."
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          },
          "active": {
            "type": "boolean",
            "example": true
          },
          "created": {
            "type": "integer",
            "format": "int64",
            "nullable": true,
            "description": "Unix timestamp in seconds.",
            "example": 1777478400
          },
          "updated_at": {
            "type": "integer",
            "format": "int64",
            "nullable": true,
            "description": "Unix timestamp in seconds.",
            "example": 1777478500
          }
        }
      },
      "ItemList": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ListEnvelope"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Item"
                }
              }
            }
          }
        ]
      },
      "DeleteItemResult": {
        "type": "object",
        "required": [
          "message",
          "itemId",
          "deletedCount",
          "processing_time_ms"
        ],
        "properties": {
          "message": {
            "type": "string",
            "example": "Item deleted successfully"
          },
          "itemId": {
            "type": "string",
            "pattern": "^itm_[A-Za-z0-9][A-Za-z0-9_-]{2,}$",
            "example": "itm_7f3a2c9e"
          },
          "deletedCount": {
            "type": "integer",
            "minimum": 0,
            "example": 1
          },
          "processing_time_ms": {
            "type": "integer",
            "minimum": 0,
            "example": 42
          }
        }
      },
      "EventCreatePayload": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/EventCreate"
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventCreate"
            },
            "minItems": 1,
            "maxItems": 200
          }
        ]
      },
      "EventCreate": {
        "type": "object",
        "description": "At least one user ID alias, one item ID alias, and one event type alias are required. Type-specific payloads are accepted as additional object properties named after the event type.",
        "properties": {
          "user_id": {
            "type": "string",
            "description": "End-user identifier.",
            "example": "usr_abc123"
          },
          "userId": {
            "type": "string",
            "description": "CamelCase alias for `user_id`."
          },
          "item_id": {
            "type": "string",
            "description": "Public item ID.",
            "pattern": "^itm_[A-Za-z0-9][A-Za-z0-9_-]{2,}$",
            "example": "itm_7f3a2c9e"
          },
          "itemId": {
            "type": "string",
            "description": "CamelCase alias for `item_id`.",
            "pattern": "^itm_[A-Za-z0-9][A-Za-z0-9_-]{2,}$"
          },
          "type": {
            "type": "string",
            "description": "Tenant-configured event type.",
            "example": "purchase"
          },
          "event_type": {
            "type": "string",
            "description": "Snake-case alias for `type`."
          },
          "eventType": {
            "type": "string",
            "description": "CamelCase alias for `type`."
          },
          "event_id": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "Legacy alias for event type."
          },
          "eventId": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ],
            "description": "CamelCase legacy alias for event type."
          },
          "session_id": {
            "type": "string",
            "description": "Optional session identifier."
          },
          "sessionId": {
            "type": "string",
            "description": "CamelCase alias for `session_id`."
          },
          "request_id": {
            "type": "string",
            "format": "uuid",
            "description": "Recommendation request ID to attribute this event to."
          },
          "requestId": {
            "type": "string",
            "format": "uuid",
            "description": "CamelCase alias for `request_id`."
          },
          "context_id": {
            "type": "string",
            "description": "Optional context identifier for analytics and attribution. Use the same context ID convention as the recommendation request.",
            "example": "101"
          },
          "contextId": {
            "type": "string",
            "description": "CamelCase alias for context_id.",
            "example": "101"
          },
          "placement": {
            "type": "string",
            "description": "Surface or placement where the event happened.",
            "example": "home_feed"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          },
          "occurred_at": {
            "oneOf": [
              {
                "type": "integer",
                "format": "int64"
              },
              {
                "type": "string",
                "format": "date-time"
              }
            ],
            "description": "Event occurrence timestamp. Numeric values below 1e12 are interpreted as Unix seconds.",
            "example": 1777478400
          },
          "occurredAt": {
            "description": "CamelCase alias for `occurred_at`.",
            "oneOf": [
              {
                "type": "integer",
                "format": "int64"
              },
              {
                "type": "string",
                "format": "date-time"
              }
            ]
          },
          "timestamp": {
            "description": "Legacy timestamp alias.",
            "oneOf": [
              {
                "type": "integer",
                "format": "int64"
              },
              {
                "type": "string",
                "format": "date-time"
              }
            ]
          },
          "client_ts": {
            "description": "Legacy client timestamp alias.",
            "oneOf": [
              {
                "type": "integer",
                "format": "int64"
              },
              {
                "type": "string",
                "format": "date-time"
              }
            ]
          },
          "clientTs": {
            "description": "CamelCase alias for `client_ts`.",
            "oneOf": [
              {
                "type": "integer",
                "format": "int64"
              },
              {
                "type": "string",
                "format": "date-time"
              }
            ]
          }
        },
        "additionalProperties": true,
        "example": {
          "user_id": "usr_abc123",
          "item_id": "itm_7f3a2c9e",
          "context_id": "101",
          "type": "purchase",
          "occurred_at": 1777478400,
          "purchase": {
            "amount": 4999,
            "currency": "usd"
          },
          "metadata": {
            "surface": "home_feed"
          }
        }
      },
      "Event": {
        "type": "object",
        "required": [
          "id",
          "object",
          "user_id",
          "item_id",
          "type",
          "metadata",
          "occurred_at",
          "created"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^evt_[1-9][0-9]*$",
            "example": "evt_12345"
          },
          "object": {
            "type": "string",
            "enum": [
              "event"
            ]
          },
          "user_id": {
            "type": "string",
            "example": "usr_abc123"
          },
          "item_id": {
            "type": "string",
            "example": "itm_7f3a2c9e"
          },
          "type": {
            "type": "string",
            "example": "purchase"
          },
          "session_id": {
            "type": "string",
            "nullable": true
          },
          "request_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "context_id": {
            "type": "string",
            "nullable": true,
            "example": "101"
          },
          "placement": {
            "type": "string",
            "nullable": true,
            "example": "home_feed"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          },
          "occurred_at": {
            "type": "integer",
            "format": "int64",
            "nullable": true,
            "example": 1777478400
          },
          "created": {
            "type": "integer",
            "format": "int64",
            "nullable": true,
            "example": 1777478405
          }
        },
        "additionalProperties": true
      },
      "EventList": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ListEnvelope"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          }
        ]
      },
      "EventIngestResult": {
        "allOf": [
          {
            "$ref": "#/components/schemas/EventList"
          },
          {
            "type": "object",
            "required": [
              "inserted",
              "processed",
              "session",
              "embedding_refresh"
            ],
            "properties": {
              "inserted": {
                "type": "integer",
                "minimum": 0
              },
              "processed": {
                "type": "integer",
                "minimum": 0
              },
              "session": {
                "type": "object",
                "required": [
                  "with_session_id",
                  "with_request_id"
                ],
                "properties": {
                  "with_session_id": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "with_request_id": {
                    "type": "integer",
                    "minimum": 0
                  }
                }
              },
              "embedding_refresh": {
                "type": "object",
                "required": [
                  "users_in_batch",
                  "enqueued",
                  "mode",
                  "min_seconds"
                ],
                "properties": {
                  "users_in_batch": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "enqueued": {
                    "type": "boolean"
                  },
                  "mode": {
                    "type": "string",
                    "enum": [
                      "async"
                    ]
                  },
                  "min_seconds": {
                    "type": "integer",
                    "minimum": 0
                  }
                }
              }
            }
          }
        ]
      },
      "Recommendation": {
        "type": "object",
        "required": [
          "id",
          "object",
          "item_id",
          "rank",
          "score",
          "item"
        ],
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^rec_",
            "example": "rec_itm_7f3a2c9e"
          },
          "object": {
            "type": "string",
            "enum": [
              "recommendation"
            ]
          },
          "item_id": {
            "type": "string",
            "example": "itm_7f3a2c9e"
          },
          "entity_id": {
            "type": "string",
            "description": "Raw item entity ID from the candidate source.",
            "example": "itm_7f3a2c9e"
          },
          "rank": {
            "type": "integer",
            "minimum": 1,
            "example": 1
          },
          "score": {
            "type": "number",
            "format": "double",
            "example": 0.94
          },
          "name": {
            "type": "string",
            "example": "Wireless Headphones"
          },
          "description": {
            "type": "string",
            "example": "Noise-cancelling Bluetooth headphones."
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          },
          "source": {
            "type": "string",
            "description": "Candidate source, such as `model`, `trending_backfill`, or `exploration`.",
            "example": "model"
          },
          "item": {
            "$ref": "#/components/schemas/RecommendationItem"
          },
          "explanation": {
            "$ref": "#/components/schemas/RecommendationExplanation"
          }
        },
        "additionalProperties": true
      },
      "RecommendationGroup": {
        "type": "object",
        "required": [
          "group",
          "items",
          "score"
        ],
        "properties": {
          "group": {
            "type": "string",
            "description": "Group key built from the active context `group_by` fields."
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Recommendation"
            }
          },
          "score": {
            "type": "number",
            "format": "double"
          },
          "similarity": {
            "type": "number",
            "format": "double"
          }
        },
        "additionalProperties": true
      },
      "RecommendationItem": {
        "type": "object",
        "required": [
          "id",
          "object",
          "name",
          "description",
          "metadata"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "itm_7f3a2c9e"
          },
          "object": {
            "type": "string",
            "enum": [
              "item"
            ]
          },
          "name": {
            "type": "string",
            "example": "Wireless Headphones"
          },
          "description": {
            "type": "string",
            "example": "Noise-cancelling Bluetooth headphones."
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "additionalProperties": true
      },
      "RecommendationList": {
        "type": "object",
        "required": [
          "object",
          "request_id",
          "url",
          "data",
          "has_more",
          "next_cursor",
          "limit",
          "recommendations",
          "quantity",
          "processing_time_ms",
          "mode"
        ],
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "message": {
            "type": "string",
            "example": "Recommendations fetched"
          },
          "request_id": {
            "type": "string",
            "format": "uuid"
          },
          "url": {
            "type": "string",
            "example": "/v1/recommendations"
          },
          "data": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Recommendation"
                },
                {
                  "$ref": "#/components/schemas/RecommendationGroup"
                }
              ]
            }
          },
          "recommendations": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Recommendation"
                },
                {
                  "$ref": "#/components/schemas/RecommendationGroup"
                }
              ]
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": "string",
            "nullable": true
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100
          },
          "embedding_info": {
            "$ref": "#/components/schemas/EmbeddingInfo"
          },
          "cold_start_fallback_used": {
            "type": "boolean"
          },
          "explanation": {
            "$ref": "#/components/schemas/RecommendationRequestExplanation"
          },
          "quantity": {
            "type": "integer",
            "minimum": 0
          },
          "excluded_viewed_items": {
            "type": "object",
            "nullable": true,
            "properties": {
              "value": {
                "type": "integer",
                "nullable": true
              },
              "unit": {
                "type": "string",
                "nullable": true
              },
              "interval": {
                "type": "string",
                "nullable": true
              }
            },
            "additionalProperties": true
          },
          "processing_time_ms": {
            "type": "integer",
            "minimum": 0
          },
          "mode": {
            "type": "string",
            "enum": [
              "single",
              "auto"
            ]
          },
          "section": {
            "type": "object",
            "nullable": true,
            "properties": {
              "section_id": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "subtitle": {
                "type": "string"
              },
              "reason": {
                "$ref": "#/components/schemas/Object"
              }
            },
            "additionalProperties": true
          },
          "done": {
            "type": "boolean",
            "description": "Present in auto mode."
          },
          "experiments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExperimentAssignment"
            }
          },
          "user_segments": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "pipeline_id": {
            "type": "integer",
            "nullable": true
          }
        },
        "additionalProperties": true
      },
      "EmbeddingInfo": {
        "type": "object",
        "required": [
          "source",
          "used_default",
          "default_reason",
          "dimension",
          "expected_dimension"
        ],
        "properties": {
          "source": {
            "type": "string",
            "enum": [
              "db",
              "default",
              "item"
            ]
          },
          "used_default": {
            "type": "boolean"
          },
          "default_reason": {
            "type": "string",
            "nullable": true,
            "description": "Reason the default embedding was used, for example `no_db_embedding`."
          },
          "dimension": {
            "type": "integer",
            "minimum": 0
          },
          "expected_dimension": {
            "type": "integer",
            "example": 64
          }
        }
      },
      "RecommendationRequestExplanation": {
        "type": "object",
        "properties": {
          "scope": {
            "type": "string",
            "example": "request"
          },
          "note": {
            "type": "string"
          },
          "context": {
            "$ref": "#/components/schemas/ContextExplanation"
          },
          "pipeline": {
            "$ref": "#/components/schemas/PipelineExplanation"
          },
          "experiments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExperimentAssignment"
            }
          },
          "user_segments": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "embedding": {
            "$ref": "#/components/schemas/EmbeddingInfo"
          }
        },
        "additionalProperties": true
      },
      "RecommendationExplanation": {
        "type": "object",
        "properties": {
          "item_id": {
            "type": "string"
          },
          "rank": {
            "type": "integer"
          },
          "summary": {
            "type": "string"
          },
          "shown_because": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "source": {
            "type": "string"
          },
          "score": {
            "type": "object",
            "properties": {
              "final": {
                "type": "number",
                "nullable": true
              },
              "base": {
                "type": "number",
                "nullable": true
              },
              "cosine_distance": {
                "type": "number",
                "nullable": true
              },
              "retrieval": {
                "type": "number",
                "nullable": true
              },
              "ranker": {
                "type": "number",
                "nullable": true
              }
            },
            "additionalProperties": true
          },
          "context": {
            "$ref": "#/components/schemas/ContextExplanation"
          },
          "embedding": {
            "type": "object",
            "additionalProperties": true
          },
          "pipeline": {
            "$ref": "#/components/schemas/PipelineExplanation"
          },
          "rules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Object"
            }
          },
          "experiments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExperimentAssignment"
            }
          },
          "user_segments": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "additionalProperties": true
      },
      "ContextExplanation": {
        "type": "object",
        "properties": {
          "context_id": {
            "type": "string",
            "nullable": true
          },
          "mode": {
            "type": "string",
            "enum": [
              "single",
              "auto"
            ]
          },
          "filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Object"
            }
          },
          "request_filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ScopeFilter"
            }
          },
          "group_by": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "exclude_viewed_items": {
            "type": "object",
            "nullable": true,
            "properties": {
              "value": {
                "type": "integer",
                "nullable": true
              },
              "unit": {
                "type": "string",
                "nullable": true
              },
              "interval": {
                "type": "string",
                "nullable": true
              }
            },
            "additionalProperties": true
          },
          "auto_section": {
            "type": "object",
            "nullable": true,
            "properties": {
              "section_id": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "subtitle": {
                "type": "string"
              },
              "reason": {
                "$ref": "#/components/schemas/Object"
              }
            },
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "PipelineExplanation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "nullable": true
          },
          "stages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PipelineStageTrace"
            }
          }
        },
        "additionalProperties": true
      },
      "PipelineStageTrace": {
        "type": "object",
        "properties": {
          "stage": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "status": {
            "type": "string"
          },
          "pipeline_id": {
            "type": "integer",
            "nullable": true
          },
          "config": {
            "$ref": "#/components/schemas/Object"
          },
          "note": {
            "type": "string"
          },
          "item_events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Object"
            }
          }
        },
        "additionalProperties": true
      },
      "ScopeFilter": {
        "type": "object",
        "required": [
          "column",
          "operator",
          "value"
        ],
        "properties": {
          "column": {
            "type": "string"
          },
          "operator": {
            "type": "string",
            "description": "Filter operator, such as `=`, `!=`, `<`, `>`, `LIKE`, or `ILIKE`."
          },
          "value": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              },
              {
                "type": "boolean"
              }
            ]
          },
          "logic": {
            "type": "string",
            "enum": [
              "AND",
              "OR"
            ]
          }
        },
        "additionalProperties": true
      },
      "ExperimentAssignment": {
        "type": "object",
        "properties": {
          "experiment_id": {
            "type": "integer"
          },
          "experiment_name": {
            "type": "string"
          },
          "variant_id": {
            "type": "integer"
          },
          "variant_name": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "ListEnvelope": {
        "type": "object",
        "required": [
          "object",
          "data",
          "has_more",
          "url"
        ],
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {}
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": "string",
            "nullable": true
          },
          "url": {
            "type": "string"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "description": "Arbitrary JSON object used for filtering, ranking, and debugging.",
        "additionalProperties": true,
        "example": {
          "category": "electronics",
          "brand": "Acme",
          "price": 10999,
          "currency": "usd"
        }
      },
      "Object": {
        "type": "object",
        "additionalProperties": true
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "type",
              "code",
              "message"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "invalid_request_error",
                  "authentication_error",
                  "permission_error",
                  "not_found_error",
                  "conflict_error",
                  "rate_limit_error",
                  "api_error"
                ]
              },
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "details": {},
              "request_id": {
                "type": "string",
                "format": "uuid"
              }
            },
            "additionalProperties": true
          }
        }
      },
      "OAuthErrorResponse": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string",
            "example": "invalid_client"
          },
          "error_description": {
            "type": "string"
          }
        },
        "additionalProperties": true
      }
    },
    "examples": {
      "AccessToken": {
        "summary": "Access token",
        "value": {
          "access_token": "<token>",
          "expires_in": 3600,
          "token_type": "Bearer",
          "scope": "neuronsearchlab-api/read neuronsearchlab-api/write"
        }
      },
      "ItemCreate": {
        "summary": "Create one item",
        "value": {
          "id": "itm_7f3a2c9e",
          "name": "Wireless Headphones",
          "description": "Noise-cancelling Bluetooth headphones.",
          "metadata": {
            "category": "electronics",
            "brand": "Acme",
            "price": 10999,
            "currency": "usd"
          }
        }
      },
      "ItemCreateBulk": {
        "summary": "Create multiple items",
        "value": [
          {
            "id": "itm_7f3a2c9e",
            "name": "Wireless Headphones",
            "metadata": {
              "category": "electronics"
            }
          },
          {
            "name": "Portable Speaker",
            "metadata": {
              "category": "electronics"
            }
          }
        ]
      },
      "ItemUpdate": {
        "summary": "Update item fields",
        "value": {
          "name": "Wireless Headphones v2",
          "metadata": {
            "category": "electronics",
            "availability": "in_stock"
          },
          "active": true
        }
      },
      "Item": {
        "summary": "Item",
        "value": {
          "id": "itm_7f3a2c9e",
          "object": "item",
          "name": "Wireless Headphones",
          "description": "Noise-cancelling Bluetooth headphones.",
          "metadata": {
            "category": "electronics",
            "brand": "Acme"
          },
          "active": true,
          "created": 1777478400,
          "updated_at": 1777478500
        }
      },
      "ItemList": {
        "summary": "Item list",
        "value": {
          "object": "list",
          "data": [
            {
              "id": "itm_7f3a2c9e",
              "object": "item",
              "name": "Wireless Headphones",
              "description": "Noise-cancelling Bluetooth headphones.",
              "metadata": {
                "category": "electronics"
              },
              "active": true,
              "created": 1777478400,
              "updated_at": 1777478500
            }
          ],
          "has_more": false,
          "next_cursor": null,
          "url": "/v1/items"
        }
      },
      "DeleteItemResult": {
        "summary": "Deleted item",
        "value": {
          "message": "Item deleted successfully",
          "itemId": "itm_7f3a2c9e",
          "deletedCount": 1,
          "processing_time_ms": 42
        }
      },
      "EventCreate": {
        "summary": "Submit one event",
        "value": {
          "user_id": "usr_abc123",
          "item_id": "itm_7f3a2c9e",
          "context_id": "101",
          "type": "purchase",
          "request_id": "c7f0d2bb-56b1-4ca7-8f09-84d8e4ed02b4",
          "occurred_at": 1777478400,
          "purchase": {
            "amount": 4999,
            "currency": "usd"
          },
          "metadata": {
            "surface": "home_feed"
          }
        }
      },
      "EventCreateBulk": {
        "summary": "Submit multiple events",
        "value": [
          {
            "user_id": "usr_abc123",
            "item_id": "itm_7f3a2c9e",
            "type": "view",
            "occurred_at": 1777478400
          },
          {
            "user_id": "usr_abc123",
            "item_id": "itm_7f3a2c9e",
            "type": "purchase",
            "purchase": {
              "amount": 4999,
              "currency": "usd"
            }
          }
        ]
      },
      "Event": {
        "summary": "Event",
        "value": {
          "id": "evt_12345",
          "object": "event",
          "user_id": "usr_abc123",
          "item_id": "itm_7f3a2c9e",
          "type": "purchase",
          "purchase": {
            "amount": 4999,
            "currency": "usd"
          },
          "session_id": "sess_4a93",
          "request_id": "c7f0d2bb-56b1-4ca7-8f09-84d8e4ed02b4",
          "context_id": "101",
          "placement": "home_feed",
          "metadata": {
            "context_id": "101",
            "purchase": {
              "amount": 4999,
              "currency": "usd"
            }
          },
          "occurred_at": 1777478400,
          "created": 1777478405
        }
      },
      "EventList": {
        "summary": "Event list",
        "value": {
          "object": "list",
          "data": [
            {
              "id": "evt_12345",
              "object": "event",
              "user_id": "usr_abc123",
              "item_id": "itm_7f3a2c9e",
              "type": "click",
              "click": {},
              "session_id": null,
              "request_id": null,
              "context_id": "101",
              "placement": null,
              "metadata": {
                "context_id": "101",
                "click": {}
              },
              "occurred_at": 1777478400,
              "created": 1777478405
            }
          ],
          "has_more": true,
          "next_cursor": "evt_12345",
          "url": "/v1/events"
        }
      },
      "EventIngestResult": {
        "summary": "Inserted events",
        "value": {
          "object": "list",
          "data": [
            {
              "id": "evt_12345",
              "object": "event",
              "user_id": "usr_abc123",
              "item_id": "itm_7f3a2c9e",
              "type": "purchase",
              "purchase": {
                "amount": 4999,
                "currency": "usd"
              },
              "session_id": null,
              "request_id": null,
              "context_id": "101",
              "placement": null,
              "metadata": {
                "surface": "home_feed",
                "context_id": "101",
                "purchase": {
                  "amount": 4999,
                  "currency": "usd"
                }
              },
              "occurred_at": 1777478400,
              "created": 1777478405
            }
          ],
          "has_more": false,
          "url": "/v1/events",
          "inserted": 1,
          "processed": 1,
          "session": {
            "with_session_id": 0,
            "with_request_id": 0
          },
          "embedding_refresh": {
            "users_in_batch": 1,
            "enqueued": true,
            "mode": "async",
            "min_seconds": 30
          }
        }
      },
      "RecommendationList": {
        "summary": "Recommendation list",
        "value": {
          "object": "list",
          "message": "Recommendations fetched",
          "request_id": "c7f0d2bb-56b1-4ca7-8f09-84d8e4ed02b4",
          "url": "/v1/recommendations",
          "data": [
            {
              "id": "rec_itm_7f3a2c9e",
              "object": "recommendation",
              "item_id": "itm_7f3a2c9e",
              "rank": 1,
              "score": 0.94,
              "item": {
                "id": "itm_7f3a2c9e",
                "object": "item",
                "name": "Wireless Headphones",
                "description": "Noise-cancelling Bluetooth headphones.",
                "metadata": {
                  "category": "electronics"
                }
              },
              "explanation": {
                "summary": "Ranked by vector similarity to the user's stored profile embedding.",
                "shown_because": [
                  "Ranked by vector similarity to the user's stored profile embedding."
                ]
              }
            }
          ],
          "has_more": false,
          "next_cursor": null,
          "limit": 10,
          "embedding_info": {
            "source": "db",
            "used_default": false,
            "default_reason": null,
            "dimension": 64,
            "expected_dimension": 64
          },
          "cold_start_fallback_used": false,
          "explanation": {
            "scope": "request",
            "note": "Each recommendation item includes its own explanation object with source, score, pipeline, rules, experiments, and context."
          },
          "recommendations": [],
          "quantity": 1,
          "excluded_viewed_items": null,
          "processing_time_ms": 182,
          "mode": "single"
        }
      },
      "AutoRecommendationList": {
        "summary": "Auto section response",
        "value": {
          "object": "list",
          "message": "Auto section generated",
          "request_id": "c7f0d2bb-56b1-4ca7-8f09-84d8e4ed02b4",
          "url": "/v1/recommendations",
          "data": [],
          "has_more": false,
          "next_cursor": "eyJ2IjoxLCJ3aW5kb3dfZGF5cyI6MTQsInNlcnZlZCI6WyJyZWNlbnRfYWN0aXZpdHkiXX0",
          "limit": 10,
          "embedding_info": {
            "source": "item",
            "used_default": false,
            "default_reason": null,
            "dimension": 64,
            "expected_dimension": 64
          },
          "cold_start_fallback_used": false,
          "explanation": {
            "scope": "request"
          },
          "recommendations": [],
          "quantity": 0,
          "excluded_viewed_items": null,
          "processing_time_ms": 128,
          "mode": "auto",
          "section": {
            "section_id": "recent_activity",
            "title": "Based on your recent activity",
            "reason": {
              "type": "recent_activity",
              "window_days": 14
            }
          },
          "done": false
        }
      },
      "ErrorValidation": {
        "summary": "Validation error",
        "value": {
          "error": {
            "type": "invalid_request_error",
            "code": "validation_error",
            "message": "Validation error",
            "details": {
              "fieldErrors": {
                "name": [
                  "Required"
                ]
              }
            }
          }
        }
      },
      "ErrorUnauthorized": {
        "summary": "Unauthorized",
        "value": {
          "error": {
            "type": "authentication_error",
            "code": "unauthorized_no_client_id_in_jwt",
            "message": "Unauthorized: No client ID in JWT"
          }
        }
      },
      "ErrorNotFound": {
        "summary": "Not found",
        "value": {
          "error": {
            "type": "not_found_error",
            "code": "item_not_found",
            "message": "Item not found"
          }
        }
      },
      "ErrorConflict": {
        "summary": "Item already exists",
        "value": {
          "error": {
            "type": "conflict_error",
            "code": "item_already_exists",
            "message": "Item already exists",
            "details": {
              "item_ids": [
                "itm_7f3a2c9e"
              ]
            }
          }
        }
      }
    }
  }
}
